<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous"/>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/20c5629a29.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="styles/index1.css"/>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">
          <img
            src="images/logo4.png"
            class="food-munch-logo"
          />
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav ml-auto">
            <a class="nav-link active" id="navItem1" href="#wcuSection">
              Why Choose Us?
              <span class="sr-only">(current)</span>
            </a>
            <a class="nav-link" href="./lawyers.ejs" id="navItem2">Explore Lawyers</a>
            <a class="nav-link" href="http://127.0.0.1:5000" id="navItem2">Search Case</a>
            <a class="nav-link" href="#deliveryPaymentSection" id="navItem3">Details</a>
            <a class="nav-link" href="#followUsSection" id="navItem4">Follow Us</a>
            <a class="nav-link" href="./login.ejs" id="navItem2">login</a>
            <a class="nav-link" href="./register.ejs" id="navItem2">Sign Up</a>
          </div>
        </div>
      </div>
    </nav>
    <div class="banner-section-bg-container d-flex justify-content-center flex-column">
      <div class="text-left m-5">
        <h1 class="banner-heading mb-3">Welcome</h1>
        <p class="banner-caption mb-4">Legal Link: Connecting Client and Counsel</p>
        <p class="banner-caption  mb-4">Whether you're a business owner seeking legal advice, a family member looking to protect your loved ones' assets, or an individual facing a legal dispute, our team of experienced attorneys is here to help.</p>
        <!-- <button class="custom-button">login</button>
        <button class="custom-outline-button">sign up</button> -->
      </div>
    </div>
    <div class="wcu-section pt-5 pb-5" id="wcuSection">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h1 class="wcu-section-heading">Why put your Trust in us?</h1>
            <p class="wcu-section-description">
              we are fast and gives a good service, and we always be against bad.The purpose of the law is to prevent the strong from always having their way.
            </p>
          </div>
          <div class="col-12 col-md-4">
            <div class="wcu-card p-3 mb-3">
              <img
                src="images/expertise.png"
                class="wcu-card-image"
              />
              <h1 class="wcu-card-title mt-3">Experienced</h1>
              <p class="wcu-card-description">
                A team of lawyers with extensive experience and a proven track record of success
              </p>
            </div>
          </div>
          <div class="col-12 col-md-4">
            <div class="wcu-card p-3 mb-3">
              <img
                src="images/approach.png"
                class="wcu-card-image"
              />
              <h1 class="wcu-card-title mt-3">Approachable</h1>
              <p class="wcu-card-description">
                A focus on results, with a no-nonsense approach to getting clients the best possible outcome
              </p>
            </div>
          </div>
          <div class="col-12 col-md-4">
            <div class="wcu-card p-3 mb-3">
              <img
                src="images/low-cost.png"
                class="wcu-card-image"
              />
              <h1 class="wcu-card-title mt-3">Affordable</h1>
              <p class="wcu-card-description">
                Affordable and flexible fee structures, including contingency and flat-fee arrangements
              </p>
            </div>
          </div>
          
        </div>
      </div>
    </div>
    
    <div class="healthy-food-section pt-5 pb-5">
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-5 mb-4">
            <div class="text-center">
              <img
                src="images/law-pic 1.jpg"
                class="healthy-food-section-img"
              />
            </div>
          </div>
          <div class="col-12 col-md-7">
            <h1 class="healthy-food-section-heading">
              TRUE JUSTIFICATION
            </h1>
            <p class="healthy-food-section-description">
              Information is provided about the Indian judiciary system. Users can find information pertaining to the Indian courts, Judgement Information System (JUDIS), Supreme Court and High Courts. Links are provided to access cause lists, daily orders and judgements etc. Users can also check the status of cases pending in various courts of the country. One can also find links for the websites of tribunals.

                
            </p>
            <button class="custom-button">Watch Video</button>
          </div>
        </div>
      </div>
    </div>
    <div class="delivery-and-payment-section pt-5 pb-5" id="deliveryPaymentSection">
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-5 order-1 order-md-2 mb-4">
            <div class="text-center">
              <img
                src="images/law-pic 6.jpg"
                class="delivery-and-payment-section-img"
              />
            </div>
          </div>
          <div class="col-12 col-md-7 order-2 order-md-1">
            <h1 class="delivery-and-payment-section-heading">
                30+ <br/>
                YEARS OF COMBINED EXPERIENCE
            </h1>
            <p class="delivery-and-payment-section-description">
              After your free month, save up to 50% when you select an annual plan for Premium Career at checkout.* Free trial eligibility determined at sign-in. Additional terms may apply.**
            </p>
            <button class="custom-button">Watch Video</button>
           
          </div>
        </div>
      </div>
    </div>
    <div class="healthy-food-section pt-5 pb-5">
        <div class="container">
          <div class="row">
            <div class="col-12 col-md-5 mb-4">
              <div class="text-center">
                <img
                  src="images/law-pic 2.jpg"
                  class="healthy-food-section-img"
                />
              </div>
            </div>
            <div class="col-12 col-md-7">
              <h1 class="healthy-food-section-heading">
                500+ <br/>
                CLIENTS SERVED
              </h1>
              <p class="healthy-food-section-description">
                Legal Link has served companies of all sizes, from startups to the Fortune 500 Companies.We provide the best quality of work.
              </p>
              <button class="custom-button">Watch Video</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="delivery-and-payment-section pt-5 pb-5" id="deliveryPaymentSection">
        <div class="container">
          <div class="row">
            <div class="col-12 col-md-5 order-1 order-md-2 mb-4">
              <div class="text-center">
                <img
                  src="images/law pic7.jpg"
                  class="delivery-and-payment-section-img"
                />
              </div>
            </div>
            <div class="col-12 col-md-7 order-2 order-md-1">
              <h1 class="delivery-and-payment-section-heading">
                Millons <br/> OF DOLLARS SAVED FOR OUR CLIENTS
              </h1>
              <p class="delivery-and-payment-section-description">
                All SAAS providers have simplified billing model in which one gets billed based on data you consume, servers you run, request you may receive a.k.a. “Pay per Use”. The term is music to ears of every solution guy; but it’s a nightmare for creating a forecast.
              </p>
              <button class="custom-button">Watch Video</button>
             
            </div>
          </div>
        </div>
      </div>

    <div class="follow-us-section pt-5 pb-5" id="followUsSection">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h1 class="follow-us-section-heading">Follow Us</h1>
          </div>
          <div class="col-12">
            <div class="d-flex flex-row justify-content-center">
              <div class="follow-us-icon-container">
                <i class="fab fa-twitter icon"></i>
              </div>
              <div class="follow-us-icon-container">
                <i class="fab fa-instagram icon"></i>
              </div>
              <div class="follow-us-icon-container">
                <i class="fab fa-facebook icon"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-section pt-5 pb-5">
      <div class="container">
        <div class="row">
          <div class="col-12 text-center">
            <img
              src="images/logo4.png"
              class="food-munch-logo"
            />
            <h1 class="footer-section-mail-id">lawyer123@gmail.com</h1>
            <p class="footer-section-address">
              
            </p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>