<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous"/>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/20c5629a29.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../public/styles/index1.css"/>
  </head>
  <body>
    <div class="explore-menu-section pt-5 pb-5" id="exploreMenuSection">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <h1 class="menu-section-heading">Explore Lawyers</h1>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
              <div class="shadow menu-item-card p-3 mb-3">
                <img
                  src="images/lawyer pic 1.jpg"
                  class="menu-item-image w-100"
                />
                <h1 class="menu-card-title">Lawyer name : Jacob</h1>
                <a href="https://www.linkedin.com/in/jacob-george-k-2777a513b/" class="menu-item-link">
                  About
                  <svg width="16px" height="16px" viewBox="0 0 16 16" class="bi bi-arrow-right-short" fill="#d0b200" xmlns="http://www.w3.org/2000/svg">
                    <path
                      fill-rule="evenodd"
                      d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"
                    />
                  </svg>
                </a>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
              <div class="shadow menu-item-card p-3 mb-3">
                <img
                  src="images/lawyer pic 2.jpg"
                  class="menu-item-image w-100"
                />
                <h1 class="menu-card-title">Lawyer name : Alexander</h1>
                <a href="https://www.linkedin.com/in/dr-lawyer-alexander-b3658058?trk=people-guest_people_search-card" class="menu-item-link">
                  About
                  <svg width="16px" height="16px" viewBox="0 0 16 16" class="bi bi-arrow-right" fill="#d0b200" xmlns="http://www.w3.org/2000/svg">
                    <path
                      fill-rule="evenodd"
                      d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"
                    />
                  </svg>
                </a>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
              <div class="menu-item-card shadow p-3 mb-3">
                <img
                  src="images/lawyer pic3.jpg"
                  class="menu-item-image w-100"
                />
                <h1 class="menu-card-title">Lawyer name : Paula Stark</h1>
                <a href="https://www.linkedin.com/in/paula-stark-33a46a72?miniProfileUrn=urn%3Ali%3Afs_miniProfile%3AACoAAA9fu14BqQ4igv1OXVvD_RF_RRAY1ixxfCw&lipi=urn%3Ali%3Apage%3Ad_flagship3_search_srp_all%3BLBEN%2FGlsSmacKCQOY1iXRQ%3D%3D" class="menu-item-link">
                  About
                  <svg width="16px" height="16px" viewBox="0 0 16 16" class="bi bi-arrow-right" fill="#d0b200" xmlns="http://www.w3.org/2000/svg">
                    <path
                      fill-rule="evenodd"
                      d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"
                    />
                  </svg>
                </a>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
              <div class="menu-item-card shadow p-3 mb-3">
                <img
                  src="images/lawyer pic4.jpg"
                  class="menu-item-image w-100"
                />
                <h1 class="menu-card-title">Lawyer name : Chris</h1>
                <a href="https://www.linkedin.com/in/chris-cosentino-15a551171?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BrxWA7%2FqeTS6Dn7IteETsVw%3D%3D" class="menu-item-link">
                  About
                  <svg width="16px" height="16px" viewBox="0 0 16 16" class="bi bi-arrow-right" fill="#d0b200" xmlns="http://www.w3.org/2000/svg">
                    <path
                      fill-rule="evenodd"
                      d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"
                    />
                  </svg>
                </a>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
              <div class="menu-item-card shadow p-3 mb-3">
                <img
                  src="images/lawyer pic5.jpg"
                  class="menu-item-image w-100"
                />
                <h1 class="menu-card-title">Lawyer name : Mark</h1>
                <a href="https://www.linkedin.com/in/marklawyer1/" class="menu-item-link">
                  About
                  <svg width="16px" height="16px" viewBox="0 0 16 16" class="bi bi-arrow-right" fill="#d0b200" xmlns="http://www.w3.org/2000/svg">
                    <path
                      fill-rule="evenodd"
                      d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"
                    />
                  </svg>
                </a>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
              <div class="menu-item-card shadow p-3 mb-3">
                <img
                  src="images/lawyer pic6.jpg"
                  class="menu-item-image w-100"
                />
                <h1 class="menu-card-title">Lawyer name : Steve</h1>
                <a href="https://www.linkedin.com/in/steve-nelson-03244013?miniProfileUrn=urn%3Ali%3Afs_miniProfile%3AACoAAAK75CYB4l8aY6c1ACBHH898JA4aONz_pTo&lipi=urn%3Ali%3Apage%3Ad_flagship3_search_srp_all%3BlJWupxvlRGekIw%2B4yeyuTg%3D%3D" class="menu-item-link">
                  About
                  <svg width="16px" height="16px" viewBox="0 0 16 16" class="bi bi-arrow-right" fill="#d0b200" xmlns="http://www.w3.org/2000/svg">
                    <path
                      fill-rule="evenodd"
                      d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"
                    />
                  </svg>
                </a>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
              <div class="menu-item-card shadow p-3 mb-3">
                <img
                  src="images/lawyer pic7.jpg"
                  class="menu-item-image w-100"
                />
                <h1 class="menu-card-title">Lawyer name : Lucas</h1>
                <a href="https://www.linkedin.com/in/lucas-nicolaides-63382b182?miniProfileUrn=urn%3Ali%3Afs_miniProfile%3AACoAACsxb8cB9tZ7d2BpCE1cnIakxxifC6Il9Ak&lipi=urn%3Ali%3Apage%3Ad_flagship3_search_srp_all%3B2BEO9YHUSIOGeI%2B2c7ADJA%3D%3D" class="menu-item-link">
                  About
                  <svg width="16px" height="16px" viewBox="0 0 16 16" class="bi bi-arrow-right" fill="#d0b200" xmlns="http://www.w3.org/2000/svg">
                    <path
                      fill-rule="evenodd"
                      d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"
                    />
                  </svg>
                </a>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
              <div class="menu-item-card shadow p-3 mb-3">
                <img
                  src="images/lawyer pic8.jpg"
                  class="menu-item-image w-100"
                />
                <h1 class="menu-card-title">Lawyer name : Mike</h1>
                <a href="https://www.linkedin.com/in/mike-ruban-5382035b?miniProfileUrn=urn%3Ali%3Afs_miniProfile%3AACoAAAyqnzwBA3fR1CHEBFMrcQNZSXtocMurNtw&lipi=urn%3Ali%3Apage%3Ad_flagship3_search_srp_all%3B43bldBJEQdesHyxmMNQDiQ%3D%3D" class="menu-item-link">
                  About
                  <svg width="16px" height="16px" viewBox="0 0 16 16" class="bi bi-arrow-right" fill="#d0b200" xmlns="http://www.w3.org/2000/svg">
                    <path
                      fill-rule="evenodd"
                      d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"
                    />
                  </svg>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
  </body>
</html>